<!DOCTYPE html> 

<html>
    <head>
        <meta lang="en">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/css/style.css">
    </head>

    <body style="background-color:snow;"></bodystyle>

        <div class = "title">
            <h1 style="font-family:'Monaco'; border-color: black; font-size: 48px">Age guessing</h1>
            <!--img src="static/img/ddebb9c351b2c807a285f0d90381672e-house-black-icon.png" class="house"/-->
        </div>

        <div class="imgcontainer">
            <!--img src="static/backgroundpic.png" class="center" alt="ImgContainer"-->
            <img src="{{ user_image }}" alt="Italian Trulli" width="380" height="380">
            <form method="POST" enctype="multipart/form-data" action="/upload">
                <input type="file" id="myFile" name="uploaded-file" accept=".jpg" style="float:left">
                <input type="submit" value="Submit" style="float:left">
            </form>
            <form method="POST" action="/detect">
                <input type="submit" value="Detect faces" style="float:left">
            </form>
            <form method="POST" action="/guess1">
                <input type="submit" value="Guess sex" style="float:left">
            </form>
            <form method="POST" action="/guess">
                <input type="submit" value="Guess age" style="float:left">
            </form>
        </div>

        <div class ="center">
            <p class = "result"><b>{{ prediction_text }}</b></p>
        </div>

        <div class="btminfo">
            <p style="color:black">Number of page views: {{ counter__1 }}</p>
        </div>

    </body>


</html>