h1 {
    border: 2px black;
    color: snow;
    text-align: center;
    padding: 18px;
    background-color: black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Container needed to position the button. Adjust the width as needed */
.container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 30%;
    margin-top:18px;
  }
  
  .imgcontainer {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 30%;
    margin-top:8px;
    margin-bottom: 80px;
  }

  